body
{
    background-color:rgb(154, 207, 207);
}

.note
{
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.heading
{
    font-size: 32px;
    width: 100%;
    margin: 0px;
}

#Start , #status , #status_objects
{
    font-size: 18px;
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 120px;
}

h4
{
    color: black;
}

input
{
    width: 800px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    height: 30px;
}